<%- include('../partials/header') %>

<form
  id="delete-job"
  action="/jobs/<%= job.id %>?_method=DELETE"
  class="hidden"
  method="POST"
></form>
<div class="heading-ctr">
  <h1><%= job.companyName %>, <span><%= job.job %></span></h1>
  <h2>Job Editor</h2>
  <div class="other-links">
    <a href="/jobs/<%=job._id%>">Go back</a>
    <a href="/jobs/">All jobs</a>
    <a href="/jobs/new">Create new job</a>
    <a>
      <input
        id="delete-job-btn"
        form="delete-job"
        value="Delete Job"
        type="submit"
        onclick="return confirm('Are you sure?')"
    /></a>
  </div>
</div>
<div class="ctr-edit">
  <div class="row">
    <form
      id="edit-form"
      method="POST"
      action="/jobs/<%=job._id %>?_method=PUT"
      autocomplete="off"
    >
      <label>Company Name *</label>
      <input
        type="string"
        name="companyName"
        value="<%= job.companyName %>"
      /><br />
      <label>Position *</label>
      <input type="string" name="job" value="<%= job.job %>" /><br />
      <label>Category</label>
      <input
        type="string"
        name="jobCategory"
        value="<%= job.jobCategory %>"
      /><br />
      <label>Industry</label>
      <input type="string" name="industry" value="<%= job.industry %>" /><br />
      <label>Location</label>
      <input type="string" name="location" value="<%= job.location %>" /><br />
      <label>Work Style</label>
      <select name="workStyle">
        <option value="In-Person">In-Person</option>
        <option value="Hybrid">Hybrid</option>
        <option value="Remote">Remote</option></select
      ><br />
      <label>URL of Job Listing</label>
      <input
        type="string"
        name="jobListingUrl"
        value="<%= job.jobListingUrl %>"
      /><br />
      <label>Job Description</label>
      <textarea rows="5" cols="70" type="string" name="jobDescription">
<%= job.jobDescription %></textarea
      ><br />
      <label>Qualifications / Requirements</label>
      <textarea rows="5" cols="70" type="string" name="qualifications">
<%= job.qualifications %></textarea
      ><br />
      <label>Company Description</label>
      <textarea rows="5" cols="70" type="string" name="companyDescription">
<%= job.companyDescription %></textarea
      >
      <br />
      <input type="submit" value="Save Changes" id="edit-large-btn" />
    </form>
    <div>
      <h2>Add/Delete Events</h2>
      <table class="events-tbl">
        <tr>
          <th></th>
          <th class="center">Date</th>
          <th class="center">Event</th>
        </tr>
        <% job.events.forEach(function(e) { %>
        <tr>
          <td>
            <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
              <input
                class="small-delete-btn"
                type="submit"
                onclick="return confirm('Are you sure?')"
                value="x"
              />
            </form>
          </td>
          <td><%= e.date.toLocaleString() %></td>
          <td><%= e.typeOfEvent %></td>
        </tr>
        <% }); %>
      </table>
      <form
        id="events"
        method="POST"
        action="/jobs/<%=job._id %>/events"
        autocomplete="off"
      >
        <label>Type of Event *</label>
        <select name="typeOfEvent">
          <option disabled selected value>-- select one --</option>
          <option value="Wishlist">Wishlist</option>
          <option value="Application in Progress">
            Application in Progress
          </option>
          <option value="Application Submitted">Application Submitted</option>
          <option value="Meeting">Meeting</option>
          <option value="First Round Interview">First Round Interview</option>
          <option value="Second Round Interview">Second Round Interview</option>
          <option value="Third Round Interview">Third Round Interview</option>
          <option value="Final Round Interview">Final Round Interview</option>
          <option value="Technical Interview">Technical Interview</option>
          <option value="Assessment">Assessment</option>
          <option value="Offer">Offer</option>
          <option value="Application Rejected">
            Application Rejected
          </option></select
        ><br />
        <br />
        <label>Date *</label>
        <input type="datetime-local" name="date" />
        <input type="submit" id="events-btn" value="Add Event" />
      </form>
    </div>
    <div>
      <h2>Add/Delete Contacts</h2>
      <ul>
        <% job.contacts.forEach(function(c) { %>
        <li>
          <b><%= c.name ? c.name : 'None' %></b>
        </li>
        <li><%= c.position %></li>
        <li><%= c.email %></li>
        <li><%= c.phone %></li>
        <li><%= c.location %></li>
        <li>
          <div class="other-links">
            <a href="<%= c.website %>" target="_blank">view website</a>
            <form action="/contacts/<%= c._id %>?_method=DELETE" method="POST">
              <input
                class="small-delete-btn"
                type="submit"
                onclick="return confirm('Are you sure?')"
                value="x"
              />
            </form>
          </div>
        </li>
        <br />
        <% }); %>
      </ul>
      <form
        id="contacts"
        method="POST"
        action="/jobs/<%=job._id %>/contacts"
        autocomplete="off"
      >
        <label
          >Name
          <input type="string" name="name" placeholder="John Doe" /> </label
        ><br />
        <label
          >Position
          <input
            type="string"
            name="position"
            placeholder="Sr. Staff Software Engineering Manager"
          /> </label
        ><br />
        <label
          >Phone
          <input type="string" name="phone" placeholder="000-000-0000" />
        </label>
        <br />
        <label
          >Email
          <input
            type="string"
            name="email"
            placeholder="jdoe@google.com"
          /> </label
        ><br />
        <label
          >Website
          <input
            type="string"
            name="website"
            placeholder="https://www.google.com/"
          /> </label
        ><br />
        <label
          >Location
          <input
            type="string"
            name="location"
            placeholder="Mountain View, CA, USA"
          />
        </label>
        <input type="submit" id="contacts-btn" value="Add Contact" />
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
