<%- include('../partials/header') %>

<h1><%= jobs.companyName %> <span><%= jobs.job %></span></h1>

<a href="/jobs/"> go back 👈🏼</a>
<a href="/jobs/<%= jobs.id %>/edit">Edit Job Profile ✍🏼</a>

<table id="details-tbl">
  <tr>
    <th>Company</th>
    <td><%= jobs.companyName %></td>
    <th>Industry</th>
    <td><%= jobs.industry %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= jobs.job %></td>
    <th>Work Style</th>
    <td><%= jobs.workStyle %></td>
  </tr>
  <tr>
    <th>Job Listing</th>
    <td>
      <a href="<%= jobs.jobListingUrl %>" target="_blank">Click here</a>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Job Description</th>
    <td colspan="3"><%= jobs.jobDescription %></td>
  </tr>
  <tr>
    <th>Qualifications</th>
    <td colspan="3"><%= jobs.qualifications %></td>
  </tr>
  <tr>
    <th>Company Description</th>
    <td colspan="3"><%= jobs.companyDescription %></td>
  </tr>
</table>

<form method="POST" action="/jobs/<%=jobs._id %>/events">
  <h2>Event Log</h2>
  <table>
    <tr>
      <th class="center">Date</th>
      <th class="center">Event</th>
      <th class="center">Delete</th>
    </tr>
    <% jobs.events.forEach(function(e) { %>
    <tr>
      <td><%= e.date.toLocaleString() %></td>
      <td><%= e.typeOfEvent %></td>
      <td>
        <input
          form="delete-event"
          value="X"
          type="submit"
          id="delete-event-btn"
          onclick="return confirm('Are you sure?')"
        />
      </td>
    </tr>
    <% }); %>
  </table>
  <br />
  <label
    >Type of Event
    <select name="typeOfEvent">
      <option disabled selected value>-- select one --</option>
      <option value="Wishlist">Wishlist</option>
      <option value="Application in Progress">Application in Progress</option>
      <option value="Application Submitted">Application Submitted</option>
      <option value="Meeting">Meeting</option>
      <option value="First Round Interview">First Round Interview</option>
      <option value="Second Round Interview">Second Round Interview</option>
      <option value="Third Round Interview">Third Round Interview</option>
      <option value="Final Round Interview">Final Round Interview</option>
      <option value="Technical Interview">Technical Interview</option>
      <option value="Assessment">Assessment</option>
      <option value="Offer">Offer</option>
      <option value="Application Rejected">Application Rejected</option></select
    ><br />
  </label>
  <br />
  <label
    >Date
    <input type="datetime-local" name="date" />
  </label>
  <input type="submit" value="Add Event" />
</form>

<form method="POST" action="/jobs/<%=jobs._id %>/contacts">
  <h2>Contacts</h2>

  <ul>
    <% jobs.contacts.forEach(function(c) { %>
    <li><b><%= c.name ? c.name : 'None' %></b></li>
    <li><%= c.position %></li>
    <li><%= c.email %></li>
    <li><%= c.phone %></li>
    <li><%= c.location %></li>
    <li>
      <a href="<%= c.website %>" target="_blank">view website</a>
    </li>
    <br />
    <% }); %>
    <br />
  </ul>

  <label>Name <input type="string" name="name" placeholder="John Doe" /> </label
  ><br />
  <label
    >Position
    <input
      type="string"
      name="position"
      placeholder="Sr. Staff Software Engineering Manager"
    /> </label
  ><br />
  <label
    >Phone
    <input type="string" name="phone" placeholder="000-000-0000" />
  </label>

  <br />

  <label
    >Email
    <input type="string" name="email" placeholder="jdoe@google.com" /> </label
  ><br />
  <label
    >Website
    <input
      type="string"
      name="website"
      placeholder="https://www.google.com/"
    /> </label
  ><br />
  <label
    >Location
    <input type="string" name="location" placeholder="Mountain View, CA, USA" />
  </label>

  <input type="submit" value="Add Contact" />
</form>

<%- include('../partials/footer') %>
